body{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-image: url("https://www.pexels.com/photo/blue-fabric-4-piece-sofa-set-under-lighted-hanging-bulbs-974382/");
    background-size: cover;
    background-position: center;

}

header > img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
  list-style: none;
  text-align: center;
  background-color: rgb(6, 7, 27);
  height: 50px;
  border-radius: 20px;
}
a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    gap: 4px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
nav li{
   display: inline-block;
   text-align: center;
   padding-top: 15px;
   margin-right: 15px;
   list-style: none;

}
.home{
    display: block;
}
.min-container{
    text-align: center;
}
#about-Us{
    display: block;
}
.about{
    text-align: center;
}
.article-container{
    display: flex;
}

article{
    flex: 1;
    border: 1px solid black;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    box-sizing: border-box;
}
article > img {
    width: 300Px;
    height: 150px;
}
article > button {
    border-radius: 40px;
    background-color:blue;
    color: white;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin-top: 4px;
}

article > button:hover {
    transform: scale(1.1);
}

.main-container{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url('image1.png');
    filter: brightness(80%);

}
.main-container > h1{
    font-size: 3em;
    text-align: center;
    color: rgb(35, 39, 35);
}
.main-container > h3{
    color: rgb(252, 249, 249);
}


video {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover; /* Ensures the video covers the entire container */
    z-index: -1; /* Moves the video behind other content */
}
.contact-container{
    text-align: center;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 15px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adjust margin as needed */
}

p {
    margin: 0;
}